@use 'presets';
@use 'variables';

footer{
    background-color: variables.$color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    .logo-container{
       img{
        width: 200px;
       }
    }
    .menu-footer-container{
        ul{
            list-style-type: none;
             padding: 10px 0px 10px 0px;
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               
                a{
                    text-decoration: none;
                    font-family: variables.$font-montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 39px;
                    color: variables.$color-strong-blue;

                }
                .dropdown{
                    button{
                        font-weight: 600;
                    }
                }
                .dropdown-menu{
                    background-color: variables.$color-strong-blue;
                }
            }
        }
    }
    .redes-container{
        a{
            img{
                width: 35px;
            }
        }
    }
}

@media (min-width: 600px) {
    footer{
        .menu-footer-container{
            ul{
                list-style-type: none;
                 padding: 30px 0px 10px 0px;
                li{
                    
                    flex-direction: row;
                    gap: 25px;
               
                   
                    a{
                         font-size: 10px;
                        
                        &:hover{
                            opacity: 0.8;
                        }
    
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) {
    footer{
        .logo-container{
            img{
                width: 220px;
            }
        }
        .menu-footer-container{
            ul{
            
                li{
                    
                    flex-direction: row;
                    gap: 25px;
            
                
                    a{
                        font-size: 15px;
                    }
                }
            }
        } 
    }
}