@use 'presets';
@use 'variables';


header{
    .logo-top-nav-mobile{
        position: relative;
        z-index: 4;
        background-color: variables.$color-white;
    }

    .pre-nav-container{
        .pre-nav{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 70px;
            background-color: #112847;
            float: right;
            padding: variables.$margin-mobile;
            position: relative;
            z-index: 4;
            .info, .redes{
                display: none;    
            } 
       } 
    }
   

    nav{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        background-color: variables.$color-white;
        float: left;
        position: relative;
        padding: variables.$margin-mobile;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        z-index: 3;

        ul{
            list-style: none;
            padding: 0px;
            li{
                .drop-mobile{
                    padding-left: 10px;
                    p{
                        margin-bottom: 4px;
                        font-weight: 600;
                    }
                    ul{
                        li{
                            a{
                                font-size: 15px;
                                font-weight: 500;
                                padding-bottom: 5px;
                            }
                        }
                    }
                    
                }
                display: flex;
                flex-direction: column;
                a{
                    font-family: variables.$font-montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 19px;
                    color: #000000;
                    text-decoration: none;
                    padding: 10px;
                    cursor: pointer;
                    &:hover{
                        color: variables.$color-blue-light;
                    }
                }
            }
        }
    }

    .logo-container{
       display: none;
    }

    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
        background-color: #EAEFF5;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
        background-color: #EAEFF5;
    }
}

@media (min-width: 900px) {
    header{
        .pre-nav-container{
                .pre-nav{
                display: flex;
                align-items: center;
                gap: 20px;
                width: 100%;
                height: 140px;
                background-color: variables.$background-color-gray;
                float: right;
                justify-content: space-between;
                .redes{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    p{
                        color: variables.$color-strong-blue;
                        font-size: 20px;
                        margin-bottom: 0px;
                    }
                    a{
                        img{
                            width: 25px;
                        }
                    }

                }
                .info{
                    display: flex;
                    color: variables.$color-white;
                    font-size: 15px;
                    align-items: center;
                    gap: 10px;
                    .img-container{
                        background-color:variables.$color-white;
                        padding: 15px;
                        border-radius: 50%;
                        img{
                            height: 25px;
                            width: 25px;
                            position: relative;
                            top: 0px;
                        }
                    }

                    .text-container-info{
                        display: flex;
                        flex-direction: column;
                        span{
                            color: #74787C;
                            font-family: variables.$font-Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px; /* 121.429% */
                        }
                        a{
                            text-decoration: none;
                            color: variables.$color-strong-blue;
                            font-weight: 400;
                            font-size: 15px;
                            font-family: variables.$font-montserrat;
                        }
                    }
                    
                    
                }
            }  
        }
       
        nav{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 0px;
            padding: 0px 110px 0px 110px;
            z-index: 4;
            ul{
                width: 100%;
                height: 64px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                top: 40px;
                border-radius: 0px 0px 7px 7px;
                background: #dc3545;
                padding: 0px 30px;
                li{
                    display: flex;
                    flex-direction: row;
                    .dropdown{
                        .btn-drop{
                            color: variables.$color-strong-blue;
                            font-family: variables.$font-montserrat;
                        }
                    }
                    a{
                        color: variables.$color-strong-blue;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
           

           
        }

        .logo-container{
          display: flex;
          width: 100px;
          background-color: transparent;
          z-index: 10;

            a{
               
                img{
                    width: 150px;
                    position: relative;
                    z-index: 30;
                    top: 0px;
                }
            }
        }
    }
}

@media (min-width: 1130px) {
    header{
        .pre-nav-container{
           .pre-nav{
            padding: 0px 130px 0px 130px;
           }  
        }
       
        .logo-container{
            
            a{
                img{
                  
                    
                }
            }
        } 
        
        nav{
          display: flex;
          justify-content: center;
            ul{
                width: 74%;
                height: 64px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                border-radius: 0px 0px 7px 7px;
                background: #dc3545;
                padding: 0px 30px;
                li{
                    a{
                        color: variables.$color-strong-blue;
                        font-size: 15px;
                    }
                }
            }
           

           
        }
    }
}