//VARIABLES
$font-montserrat: 'Exo';
$font-Roboto: 'Roboto';
$color-strong-blue: #112847;
$color-orange: #FF9046;
$color-blue-light:#25589A;
$background-color-gray:#F4F4F4;
$color-white: #ffff;
$color-red: #EB5C5C;
$color-verde-ws: #55CA87;

$bg-aire: url("/img-web/aire-serv.png");
$bg-electricidad: url("/img-web/electricidad-hero.png");
$bg-plomeria: url("/img-web/plomeria-hero.png");
$bg-mantenimeinto: url("/img-web/Manteniemeinto-hero.png");
$bg-gas: url("/img-web/gas-hero.png");
$bg-camaras: url("/img-web/camaras-hero.png");

//paddings
$margin-mobile: 0px 15px 0px 15px;
$margin-desktop: 0px 130px 0px 130px;